body {
  padding: 0;
  margin: 0;
  background-color:#EDEDED;
}
/* header */
.header {
  width: 100%;
  height: 960px;
  background-image: url("Asset/img-fond.jpeg");
  background-size: cover;
  background-position: center;
}
.logo-header {
  position: absolute;
  top: 51px;
  left: 69px;
}
.container-titre-header {
  width: 100%; /* on mais la meme width que l'img pour que la div sois au millieu*/
  height: 960px; /* on mais la meme height que l'img pour que la div sois au millieu*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titre-header {
  font-size: 44px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  color: Yellow;
  text-align: center;
  width: 40%;
}
.container-input-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input-header {
  width: 45%;
  height: 72px;
  border-radius: 10px;
}
.bouton-input-header {
  width: 51px;
  height: 52px;
  background-color: #1b1b1b;
  color: white;
  transform: translate(-65px, 25%);
  border-radius: 10px;
  font-size: 27px;
}

/* body filtre */
.container-filtre-all-plus-nombre-recette {
  display: flex;
  flex-direction: row;
}
.container-filtre-all {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-left: 5%;
  gap: 10%;
}
.container-filtre {
  width: 179px;
  height: 22px;
  font-family: "Manrope", sans-serif;
  border-radius: 11px;
  padding: 17px 16px 17px 16px;
  border: solid 1px gray;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  background-color: white;
}
.nombre-recette {
  text-align: end;
  width: 39%;
  font-family: "Anton", sans-serif;
  font-size: 21px;
  color: #1b1b1b;
  transform: translate(0px, 29%);
}
/* body recette */
.container-recette-all{
    margin-top: 55px;
padding-left: 5.5%;
padding-right: 5.5%;
display: flex;
flex-wrap: wrap;
gap: 10%;
}
.container-recette-all > * {
    flex-basis: calc(33.33% - (66px * 2)); /* Largeur de chaque élément (1/3 de l'espace disponible moins les espaces entre les éléments) */
}
.container-recette{
    margin-bottom: 66px;
    width: 360px;
    height: 731px;
    border-radius: 21px;
    background-color: white;

}
.img-recette{
    width: 100%;
    height: 253px;
    object-fit: cover;
    border-radius: 21px 21px 0 0 ;
}
.description-recette{
    padding: 25px;
}
.nom-de-recette{
    margin-top:-10px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Anton", sans-serif;
}
.titre-recette{
    font-family: "Manrope", sans-serif;
 font-weight: 700;
 font-size: 12px;
 color: #7A7A7A;
 letter-spacing: 0.8px;
 margin-top: 30px;
}
.instruction-recette{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1B1B1B;
    margin-bottom: 40px;
}


.container-ingredients-recette {
    padding: 25px;
    margin-top: -60px;
display: grid;
grid-template-columns: auto auto; /* Deux colonnes de largeur automatique */
grid-template-rows: auto auto auto; /* Trois lignes de hauteur automatique */
}   
.titre-ingredients{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1B1B1B;
    margin-bottom: -15px;
}
.ingredients{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7A7A7A;
}